{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}



	<h1>Login!</h1>
	<br/><br/>

	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Our CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control") }}
		<br/>

		{{ form.password.label(class="form-label") }}

		{{ form.password(class="form-control") }}
		<br/>

		
		<br/>

		{{ form.submit(class="btn btn-secondary") }}


	</form>
</div>


{% endblock %}